body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 15% 15% 20% 15% 25%;
  grid-template-areas: "a a" "b b" "c d" "c e" "c f";
  grid-gap: 10px;
  padding: 50px;
}

header {
  grid-area: a;
  text-align: center;
}

#story {
  grid-area: b;
  text-align: center;
  padding: 0px 30px 0px 30px;
}

#story p {
  font-style: italic;
}

main {
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#list {
  grid-area: d;
  text-align: center;
}

#message {
  grid-area: e;
  text-align: center;
}

#basket {
  grid-area: f;
  text-align: center;
}

img {
  max-width: 200px;
}
